A5 Data/_XmlValCore/YBAJ161-schema2.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="OriginsType">
        <xs:sequence>
            <xs:element name="Origin" maxOccurs="unbounded" minOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="Australia|Fiji|France|India|New Zealand|South Korea|Vietnam" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="Price" type="xs:decimal"/>
            <xs:element name="Origins" type="OriginsType" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>

    <xs:complexType name="ArrayOfProductType">
        <xs:sequence>
            <xs:element name="Product" type="ProductType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ArrayOfProduct" type="ArrayOfProductType" />

</xs:schema>
