A5 Data/YBAJ161-schema1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="Id" type="xs:integer"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="Price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArrayOfProductType">
        <xs:sequence>
            <xs:element name="Product" type="ProductType" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ArrayOfProduct" type="ArrayOfProductType" />
</xs:schema>
